<header class = "jumbotron">
  {{#link-to 'index'}}<h1>Real Rentals</h1>{{/link-to}}
  <h2><em>The authentic property rental service.</em></h2>
</header>

<div class="container">
  {{outlet}}
</div>

<hr>

<footer>
  {{#link-to 'contact'}}Our representatives would love to screw you over!{{/link-to}}
</footer>
