<h1> Welcome to Super Rentals </h1>

We hope you find exactly what you're looking for in a place to stay.

<ul>
  {{#each model as |rental|}}
    <li>{{rental-tile rental=rental destroyRental="destroyRental"}}</li>
  {{/each}}
</ul>

{{new-rental save2="save3"}}

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}


<!-- ok, so i think i figured how to comment this.  at this comment i just added destroyRental to the for each loop.  the equation maps the destroyRental function coming up from the compenent on the left of the equals to the destroyRental action on the route handler. -->
